{% extends 'base.html' %}

{% block title %}Форма для статьи{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Редактировать статью</h2>

    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'blog:blog' %}" class="btn btn-primary">Отменить</a>

    </form>
</div>

{% endblock %}