.image-wrapper {
    height: 200px; /* фиксированная высота для всех карточек */
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* картинка заполняет блок без искажения */
    object-position: center; /* центрируем */
    border-radius: 4px;
}

.product-info-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* картинка заполняет блок без искажения */
    object-position: center; /* центрируем */
    border-radius: 4px;
}