{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}


<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный магазин продуктов, которые вы не сможете купить</p>
</div>

<div class="container">

    <div class="row text-center">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card h-100 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="image-wrapper mb-3">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid product-image"
                             alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>
                    <p class="mt-3 mb-4 text-start m-3">{{ product.description|truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product' product.id %}" class="btn btn-lg btn-outline-primary mt-auto">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

 {% if page_obj.has_other_pages %}
    <nav aria-label="Навигация по страницам">
        <ul class="pagination justify-content-center mt-4">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">« </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">« </span>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li class="page-item active">
                <span class="page-link">{{ page_num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}"> »</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link"> »</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}