{% extends 'base.html' %}

{% block title %}Новый товар{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Добавление нового товара</h2>

    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.non_field_errors }}

        <button type="submit" class="btn btn-primary w-100">Добавить товар</button>
        <a href="{% url 'catalog:home' %}" class="btn btn-primary">Отменить</a>
    </form>
</div>

{% endblock %}